<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ثبت نام</title>
    <link rel="stylesheet" href="../assets/vendor/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/mediaq.css">
</head>
<body>
    
    <section class="account-box">
        <div class="register-logo">
            <a href="index.html"><img src="../../assets/images/logo.svg" alt=""></a>
        </div>
        <div class="register login">
            <div class="headline">تغییر رمزعبور</div>
            <div class="content">
                <form action="#">
                    <label for="pwd">رمز عبور قبلی</label>
                    <input id="pwd" type="text" placeholder="رمزعبور جدید خود را وارد کنید">
                    <label for="pwd">رمز عبور جدید</label>
                    <input id="pwd" type="text" placeholder="رمزعبور جدید خود را وارد کنید">
                    <label for="pwd">تکرار رمز عبور جدید</label>
                    <input id="pwd" type="text" placeholder="رمزعبور جدید خود را مجددا وارد کنید">
                    <button type="submit"><i class="fa fa-lock-open"></i>تغییر رمزعبور</button>
                </form>
            </div>
        </div>
    </section>
    
    <footer>
        <section class="footer account-footer container">
            <ul>
                <li><a href="#">درباره دیجی کالا</a></li>
                <li><a href="#">فرصت های شغلی</a></li>
                <li><a href="#">تماس با ما</a></li>
                <li><a href="#">همکاری با سازمان ها</a></li>
            </ul>
            <div class="copyright"><p>استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت فلان (فروشگاه آنلاین دیجی‌کالا) می‌باشد.</p></div>
            
            <div class="copyright-en">
                <p>Copyright © 2006 - 2018 Digikala.com</p>
            </div>
        </section>
    </footer>
    
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>