<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>فروشگاه اینترنتی</title>
    <link rel="stylesheet" href="assets/vendor/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="assets/vendor/slicknav/slicknav.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/mediaq.css">
</head>
<body>
    <header>
    <section class="top-head container">
        <div class="right-head">
            <div class="logo">
                <a href="index.html"><img src="assets/images/logo.svg" ></a>
            </div>
            <form action="#">
                <button><i class="fa fa-search"></i></button>
                <input type="text" placeholder="جستجو در دیجی شاپ ...">
            </form>
        </div>
        <div class="left-head">
            <div class="login-box">
                <div class="log-reg" id="logreg">
                    <i class="fa fa-user"></i>
                    <a href="login.html"> ورود به حساب کاربری </a>

                    <!--<div class="user-modal">
                        <a class="login" href="#">ورود به دیجی کالا</a>
                        <div class="newuser">
                            <span>کاربر جدید هستید؟</span>
                            <a href="#">ثبت نام</a>
                        </div>
                        <a class="profile" href="#"><i class="fa fa-user"></i> پروفایل</a>
                        <a class="order" href="#"><i class="fa fa-folder"></i> پیگیری سفارش</a>
                    </div>-->
                </div>
            </div>
            <div class="devider"></div>

            <a href="cart.html" class="cart">
                <i class="fa fa-shopping-cart"></i>
            </a>
        </div>


    </section>

    <nav class="top-nav container">
        <ul class="dropdown" id="mynavmenu">
            <li class="main-category"><i class="fa fa-bars"></i><a href="#">دسته بندی کالاها</a>
                <ul class="dropdown2">
                    <li><a href="#">کالای دیجیتال</a>
                        <ul class="megamenu">
                            <li><a href="#">موبایل</a>
                                <ul>
                                    <li><a href="#">مدل موبایل</a></li>
                                    <li><a href="#">کیف و کاور</a></li>
                                    <li><a href="#">پاور بانک</a></li>
                                    <li><a href="#">پایه نگهدارنده</a></li>
                                </ul>
                            </li>
                            <li><a href="#">کامپیوتر</a>
                                <ul>
                                    <li><a href="#">ماوس</a></li>
                                    <li><a href="#">کیبورد</a></li>
                                    <li><a href="#">مانیتور</a></li>
                                </ul>
                            </li>
                            <li><a href="#">تجهیزات اداری</a>
                                <ul>
                                    <li><a href="#">کالای اول</a></li>
                                    <li><a href="#">کالای دوم</a></li>
                                    <li><a href="#">کالای سوم</a></li>
                                </ul>
                            </li>
                            <li><a href="#">تبلت</a>
                                <ul>
                                    <li><a href="#">لنوو</a></li>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">ایسوس</a></li>
                                </ul>
                            </li>
                            <li><a href="#">دوربین</a>
                                <ul>
                                    <li><a href="#">کیف,کوله و کاور</a></li>
                                    <li><a href="#">کابل ها رابط و مبدل</a></li>
                                    <li><a href="#">کابل صدا و HDMI</a></li>
                                </ul>
                            </li>
                            <li><a href="#">لوازم جانبی لپ تاپ</a>
                                <ul>
                                    <li><a href="#">کیف,کوله و کاور</a></li>
                                    <li><a href="#">کابل ها رابط و مبدل</a></li>
                                    <li><a href="#">کابل صدا و HDMI</a></li>
                                </ul>
                            </li>

                            <li><a href="#">اسکوتر برقی</a>
                                <ul>
                                    <li><a href="#">کالای اول</a></li>
                                    <li><a href="#">کالای دوم</a></li>
                                    <li><a href="#">کالای سوم</a></li>
                                </ul>
                            </li>
                            <li><a href="#">ماشین های اداری</a>
                                <ul>
                                    <li><a href="#">لوازم جانبی پرینتر</a></li>
                                    <li><a href="#">فکس</a></li>
                                    <li><a href="#">تلقن و بیسیم</a></li>
                                </ul>
                            </li>
                            <li><a href="#">مچ بند و ساعت هوشمند</a>
                                <ul>
                                    <li><a href="#">لوازم جانبی پرینتر</a></li>
                                    <li><a href="#">فکس</a></li>
                                    <li><a href="#">تلقن و بیسیم</a></li>
                                </ul>
                            </li>
                            <li><a href="#">دوربین های تحت شبکه</a>
                                <ul>
                                    <li><a href="#">لوازم جانبی پرینتر</a></li>
                                    <li><a href="#">فکس</a></li>
                                    <li><a href="#">تلقن و بیسیم</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">آرایشی و بهداشتی</a></li>
                    <li><a href="#">مد و پوشاک</a></li>
                    <li><a href="#">خانه و آشپزخانه</a></li>
                    <li><a href="#">ورزش و سفر</a></li>
                    <li><a href="#">کتاب,لوازم تحریر</a></li>
                    <li><a href="#">سوپرمارکت</a></li>
                </ul>
            </li>
            <li><a href="#">سوپرمارکت</a></li>
            <li><a href="#">تخفیف ها و پیشنهادها</a></li>
            <li><a href="#">دیجی شاپ من</a></li>
            <li><a href="#">دیجی کلاب</a></li>
            <li><a href="#">سوالی دارید؟</a></li>
            <li><a href="#">فروشنده شوید</a></li>
        </ul>
        <ul class="promotion"><li><a href="#">لطفا شهر و استان خود را انتخاب کنید</a><i class="fa fa-map-marker"></i></li></ul>

    </nav>

</header>
    
    <section class="add-comment container">
        <div class="comment-info">
            <img src="assets/images/p4.jpg" alt="">
            <div class="comment--info">
                <div class="headline">
                    <h4> کتاب الفبای موفقیت اثر باب پراکتور </h4>
                    <span>کتاب الفبای موفقیت اثر باب پراکتور</span>
                </div>
                <div>rating</div>
            </div>
        </div>
        <div class="comment-new">
            <div class="form-holder">
                <form action="#">
                    <label for="">عنوان نظر شما (اجباری)</label>
                    <input type="text" placeholder="عنوان نظر خود را بنویسید">
                    <div class="group-input">
                        <div class="advantage">
                            <span>نقاط قوت</span>
                            <input type="text">
                        </div>
                        <div class="disadvantage">
                            <span>نقاط ضعف</span>
                            <input type="text">
                        </div>
                    </div>
                    <label for="">متن نظر شما (اجباری)</label>
                    <textarea placeholder="متن نظر خود را بنویسید"></textarea>
                    <button class="btn-default">ثبت نظر</button>
                    <a class="btn-link-spoiler" href="#">انصراف و بازگشت »</a>
                </form>
            </div>
            <div class="description">
                <h3>دیگران را با نوشتن نظرات خود، برای انتخاب این محصول راهنمایی کنید.</h3>
                <p>لطفا پیش از ارسال نظر، خلاصه قوانین زیر را مطالعه کنید:
<br>
فارسی بنویسید و از کیبورد فارسی استفاده کنید. بهتر است از فضای خالی (Space) بیش‌از‌حدِ معمول، شکلک یا ایموجی استفاده نکنید و از کشیدن حروف یا کلمات با صفحه‌کلید بپرهیزید.
<br>
نظرات خود را براساس تجربه و استفاده‌ی عملی و با دقت به نکات فنی ارسال کنید؛ بدون تعصب به محصول خاص، مزایا و معایب را بازگو کنید و بهتر است از ارسال نظرات چندکلمه‌‌ای خودداری کنید.
<br>
بهتر است در نظرات خود از تمرکز روی عناصر متغیر مثل قیمت، پرهیز کنید.
<br>
به کاربران و سایر اشخاص احترام بگذارید. پیام‌هایی که شامل محتوای توهین‌آمیز و کلمات نامناسب باشند، حذف می‌شوند.
<br>
از ارسال لینک‌های سایت‌های دیگر و ارایه‌ی اطلاعات شخصی خودتان مثل شماره تماس، ایمیل و آی‌دی شبکه‌های اجتماعی پرهیز کنید.
<br>
با توجه به ساختار بخش نظرات، از پرسیدن سوال یا درخواست راهنمایی در این بخش خودداری کرده و سوالات خود را در بخش «پرسش و پاسخ» مطرح کنید.
<br>
هرگونه نقد و نظر در خصوص سایت دیجی‌کالا، خدمات و درخواست کالا را با ایمیل info@site.com یا با شماره‌ی ۲۲۲۲۲ - ۰۲۱ در میان بگذارید و از نوشتن آن‌ها در بخش نظرات خودداری کنید.</p>
            </div>
        </div>
    </section>
    
    <div class="jump-to-up">
        <i class="fa fa-chevron-up"></i> <span> بازگشت به بالا </span>
    </div>
    <footer>
        <section class="footer container">
            <div class="icon">
                <div class="icon-item">
                    <a href="#">
                        <img src="assets/images/icon/1.svg" alt="">
                        <span>7 روز ضمانت بازگشت</span>
                    </a>
                </div> <!--icon-item-->
                <div class="icon-item">
                    <a href="#">
                        <img src="assets/images/icon/2.svg" alt="">
                        <span>پرداخت در محل</span>
                    </a>
                </div> <!--icon-item-->
                <div class="icon-item">
                    <a href="#">
                        <img src="assets/images/icon/4.svg" alt="">
                        <span>تحویل اکسپرس</span>
                    </a>
                </div> <!--icon-item-->
                <div class="icon-item">
                    <a href="#">
                        <img src="assets/images/icon/3.svg" alt="">
                        <span>پشتیبانی ۲۴ ساعته</span>
                    </a>
                </div> <!--icon-item-->
                <div class="icon-item">
                    <a href="#">
                        <img src="assets/images/icon/5.svg" alt="">
                        <span>ضمانت اصل بودن کالا</span>
                    </a>
                </div> <!--icon-item-->
            </div>
            <div class="footer-content">
                <div class="shop-help">
                    <h3 class="head">راهنمای خرید از شاپ</h3>
                    <ul>
                        <li><a href="#">نحوه ثبت سفارش</a></li>
                        <li><a href="#">رویه ارسال سفارش</a></li>
                        <li><a href="#">شیوه های پرداخت</a></li>
                    </ul>
                </div>
                <div class="customer-service">
                    <h3 class="head">خدمات مشتریان</h3>
                    <ul>
                        <li><a href="#">پاسخ به پرسش های متداول</a></li>
                        <li><a href="#">رویه های بازگرداندن کالا</a></li>
                        <li><a href="#">حریم خصوصی</a></li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h3 class="head">از تخفیف ها و جدیدترین های شاپ با خبر باشید</h3>
                    <div class="content">
                        <form action="#">
                            <input type="text">
                            <button type="submit">ارسال</button>
                        </form>
                        <h3 class="head">ما را در شبکه های اجتماعی دنبال کنید</h3>
                        <div class="social">
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-twitter-square"></i></a>
                            <a href=""><i class="fa fa-facebook-square"></i></a>
                            <a href=""><i class="fa fa-google-plus-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="cert">
                    <h3 class="head">مجوزهای فروشگاه</h3>
                    <div class="image">
                        <img src="assets/images/cert/enamad.png" alt="">
                        <img src="assets/images/cert/samandehi.png" alt="">
                    </div>
                </div>
        </div> <!-- footer-content -->
        
        <div class="footer-contact">
            <div class="contact">
                <span>هفت روز هفته, ۲۴ ساعت شبانه روز پاسخگوی شما هستیم,</span>
                <span>شماره تماس : ۰۴۴-۳۳۳۳</span>
                <span>آدرس ایمیل : info@site.com</span>
            </div>
            <div class="app">
                <img src="assets/images/bazar.png" alt="">
                <img src="assets/images/sibapp.png" alt="">
            </div>
        </div>
        
        <div class="copyright">
            <p>استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت فلان (فروشگاه آنلاین دیجی‌کالا) می‌باشد.</p>
        </div>
        
    </section>
    </footer>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/vendor/swiper/js/swiper.min.js"></script>
    <script src="assets/vendor/slicknav/jquery.slicknav.min.js"></script>
    <script src="assets/vendor/jquery.countdown.min.js"></script>
    <script src="assets/vendor/persianumber.min.js"></script>
    <script src="assets/vendor/elevatezoom.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>
<!--<div class="suggestion">
   <div class="headline"><h3>پیشنهادهای لحظه‌ای برای شما</h3></div>
    <div class="product-item">
        <img src="assets/images/p6.jpg" alt="">
        <a class="title" href="#">ماشین ظرفشویی سری 6 بوش مدل SMS67TI02B</a>
        <span class="price">۱۲,۸۵۵,۰۰۰ </span>
    </div>
</div>-->