<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>فروشگاه اینترنتی</title>
    <link rel="stylesheet" href="assets/vendor/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="assets/vendor/slicknav/slicknav.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/mediaq.css">
</head>

<body>
    <header>
        <section class="top-head container">
            <div class="logo">
                <a href="#"><img src="assets/images/logo.svg"></a>
            </div>
            <form action="#">
                <input type="text" placeholder="نام کالا، برند و یا دسته مورد نظر را جستجو کنید...">
                <button><i class="fa fa-search"></i></button>
            </form>
            <div class="login-box">
                <div class="log-reg" id="logreg"> <span> ورود / ثبت نام </span> <i class="fa fa-chevron-down"></i>
                    <div class="user-modal"> <a class="login" href="#">ورود به دیجی کالا</a>
                        <div class="newuser"> <span>کاربر جدید هستید؟</span> <a href="#">ثبت نام</a></div> <a class="profile" href="#"><i class="fa fa-user"></i> پروفایل</a> <a class="order" href="#"><i class="fa fa-folder"></i> پیگیری سفارش</a></div>
                </div>
                <div class="devider"></div>
            </div>
            <a href="#" class="cart"> <i class="fa fa-shopping-cart"></i> <span class="text">سبد خرید</span> <span class="count">۲</span> </a>
        </section>
        <nav class="top-nav" id="mynavmenu">
            <ul class="dropdown container">
                <li><a href="#">کالای دیجیتال</a>
                    <ul class="megamenu">
                        <li><a href="#">موبایل</a>
                            <ul>
                                <li><a href="#">مدل موبایل</a></li>
                                <li><a href="#">کیف و کاور</a></li>
                                <li><a href="#">پاور بانک</a></li>
                                <li><a href="#">پایه نگهدارنده</a></li>
                            </ul>
                        </li>
                        <li><a href="#">کامپیوتر</a>
                            <ul>
                                <li><a href="#">ماوس</a></li>
                                <li><a href="#">کیبورد</a></li>
                                <li><a href="#">مانیتور</a></li>
                            </ul>
                        </li>
                        <li><a href="#">تجهیزات اداری</a>
                            <ul>
                                <li><a href="#">کالای اول</a></li>
                                <li><a href="#">کالای دوم</a></li>
                                <li><a href="#">کالای سوم</a></li>
                            </ul>
                        </li>
                        <li><a href="#">تبلت</a>
                            <ul>
                                <li><a href="#">لنوو</a></li>
                                <li><a href="#">سامسونگ</a></li>
                                <li><a href="#">ایسوس</a></li>
                            </ul>
                        </li>
                        <li><a href="#">دوربین</a>
                            <ul>
                                <li><a href="#">کیف,کوله و کاور</a></li>
                                <li><a href="#">کابل ها رابط و مبدل</a></li>
                                <li><a href="#">کابل صدا و HDMI</a></li>
                            </ul>
                        </li>
                        <li><a href="#">لوازم جانبی لپ تاپ</a>
                            <ul>
                                <li><a href="#">کیف,کوله و کاور</a></li>
                                <li><a href="#">کابل ها رابط و مبدل</a></li>
                                <li><a href="#">کابل صدا و HDMI</a></li>
                            </ul>
                        </li>
                        <li><a href="#">اسکوتر برقی</a>
                            <ul>
                                <li><a href="#">کالای اول</a></li>
                                <li><a href="#">کالای دوم</a></li>
                                <li><a href="#">کالای سوم</a></li>
                            </ul>
                        </li>
                        <li><a href="#">ماشین های اداری</a>
                            <ul>
                                <li><a href="#">لوازم جانبی پرینتر</a></li>
                                <li><a href="#">فکس</a></li>
                                <li><a href="#">تلقن و بیسیم</a></li>
                            </ul>
                        </li>
                        <li><a href="#">مچ بند و ساعت هوشمند</a>
                            <ul>
                                <li><a href="#">لوازم جانبی پرینتر</a></li>
                                <li><a href="#">فکس</a></li>
                                <li><a href="#">تلقن و بیسیم</a></li>
                            </ul>
                        </li>
                        <li><a href="#">دوربین های تحت شبکه</a>
                            <ul>
                                <li><a href="#">لوازم جانبی پرینتر</a></li>
                                <li><a href="#">فکس</a></li>
                                <li><a href="#">تلقن و بیسیم</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">آرایشی و بهداشتی</a></li>
                <li><a href="#">مد و پوشاک</a></li>
                <li><a href="#">خانه و آشپزخانه</a></li>
                <li><a href="#">ورزش و سفر</a></li>
                <li><a href="#">کتاب,لوازم تحریر</a></li>
                <li><a href="#">سوپرمارکت</a></li>
            </ul>
            <ul class="promotion">
                <li><a href="#" class="">فروش ویژه</a></li>
            </ul>
        </nav>
    </header>
    <section class="c-checkout-alert container">
        <div class="c-checkout-alert__icon failed"><i class="fa fa-plus"></i></div>
        <div class="c-checkout-alert__title">
            <h4>سفارش <span class="c-checkout-alert__highlighted c-checkout-alert__highlighted--success">DKC-39637837</span> ثبت شد اما پرداخت ناموفق بود.</h4></div>
        <div class="c-checkout-alert__content"> <span class="c-checkout-alert__content--failed">برای جلوگیری از لغو سیستمی سفارش، تا ۶ ساعت آینده پرداخت را انجام دهید.</span>
            <br> <span class="c-checkout-alert__content--small">چنانچه طی این فرایند مبلغی از حساب شما کسر شده است، طی ۷۲ ساعت آینده به حساب شما باز خواهد گشت.</span></div>
    </section>
    <form action="#">
        <section class="payment-methods container">
            <div class="o-headline o-headline--checkout"><span>انتخاب شیوه پرداخت </span></div>
            <ul class="c-checkout-paymethod">
                <li>
                    <div class="c-checkout-paymethod__item c-checkout-paymethod__item--cc has-options js-checkout-paymethod__item is-selected is-select-mode">
                        <label class="c-ui-radio c-ui-radio--primary">
                            <input type="radio" name="payment_method" checked> <span class="c-ui-radio__check"></span> </label>
                        <h4 class="c-checkout-paymethod__title"> پرداخت اینترنتی ( آنلاین با تمامی کارت‌های بانکی ) <span>سرعت بیشتر در ارسال و پردازش سفارش</span></h4></div>
                    <div class="c-checkout-paymethod__options">
                        <div class="c-checkout-paymethod__providers">
                            <div class="c-checkout-paymethod__providers-arrow"></div>
                            <label> <span class="c-ui-radio"> <input type="radio" cheked name="bank_id"> <span class="c-ui-radio__check"></span> </span> <span class="c-checkout-paymethod__source-title">بانک سامان</span> <img src="assets/images/samanbank.png" alt=""> </label>
                            <label class="is-selected"> <span class="c-ui-radio"> <input type="radio" cheked name="bank_id"> <span class="c-ui-radio__check"></span> </span> <span class="c-checkout-paymethod__source-title">بانک ملت</span> <img src="assets/images/dpay.png" alt=""> </label>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
        <div class="btn-container container">
            <button class="btn-payment btn-payment--large">پرداخت سفارش</button>
        </div>
    </form>
    <section class="c-checkout-details container">
        <h4 class="c-checkout-details__title">کد سفارش: DKC-39637837</h4>
        <div class="c-checkout-details__row">
            <div class="c-checkout-details__col--text">
                <p>سفارش شما با موفقیت در سیستم ثبت شد و هم اکنون <span class="text-highlight text-highlight--error">در انتظار پرداخت</span> است. جزئیات این سفارش را می‌توانید با کلیک بر روی دکمه <a href="#" class="btn-link-spoiler">پیگیری سفارش</a> مشاهده نمایید.</p>
            </div> <a href="#" class="btn-order-traking btn-order-traking--gray">پیگیری سفارش</a></div>
        <div class="c-checkout-details__row">
            <div class="c-checkout-details__col--table">
                <div class="c-checkout-table">
                    <div class="c-checkout-table__row">
                        <div class="c-checkout-table__col"><span>نام تحویل گیرنده: حسن شفعی </span></div>
                        <div class="c-checkout-table__col"><span>شماره تماس : ۰۹۱۴۵۱۴۰۴۱۴</span></div>
                    </div>
                    <div class="c-checkout-table__row">
                        <div class="c-checkout-table__col"><span>تعداد مرسوله : ۱ </span></div>
                        <div class="c-checkout-table__col"><span>مبلغ کل: ۱۵۰,۰۰۰ تومان </span></div>
                    </div>
                    <div class="c-checkout-table__row">
                        <div class="c-checkout-table__col"><span>وضعیت پرداخت: پرداخت آنلاین <span class="red">(ناموفق)</span> </span>
                        </div>
                        <div class="c-checkout-table__col"><span>وضعیت سفارش: در انتظار پرداخت </span></div>
                    </div>
                    <div class="c-checkout-table__row">
                        <div class="c-checkout-table__col full-col"><span>آدرس : استان آذربایجان غربی ، شهرماکو، سایت ب</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="payment-methods container">
        <div class="o-headline o-headline--checkout"><span>جزئیات پرداخت </span></div>
        <div class="c-checkout-details">
            <div class="c-checkout-orders-table">
                <div class="c-checkout-orders-table__row">
                    <div>
                        <p>رديف</p>
                    </div>
                    <div>
                        <p>درگاه</p>
                    </div>
                    <div>
                        <p>شماره پيگيري</p>
                    </div>
                    <div>
                        <p>تاريخ</p>
                    </div>
                    <div>
                        <p>مبلغ</p>
                    </div>
                    <div>
                        <p>وضعيت</p>
                    </div>
                </div>
                <div class="c-checkout-orders-table__row">
                    <div>
                        <p>۱</p>
                    </div>
                    <div>
                        <p>بانک سامان</p>
                    </div>
                    <div>
                        <p>24139856</p>
                    </div>
                    <div>
                        <p>۲۶ آبان ۱۳۹۷</p>
                    </div>
                    <div>
                        <p> ۱۵۰,۰۰۰ تومان</p>
                    </div>
                    <div>
                        <p>پرداخت ناموفق</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-wrapper container">
        <div class="headline">
            <h3>محصولات پیشنهادی برای شما</h3></div>
        <div id="pslider" class="swiper-container">
            <div class="product-box swiper-wrapper">
                <div class="product-item swiper-slide">
                    <a href="#"><img src="assets/images/965174.jpg" alt=""></a> <a class="title" href="#">گوشی موبایل شیائومی مدل Redmi Note 8 Pro M1906G7G دو سیم‌ کارت</a> <span class="price">۱,۴۳۳,۰۰۰ تومان</span></div>
                <div class="product-item swiper-slide">
                    <a href="#"><img src="assets/images/965174.jpg" alt=""></a> <a class="title" href="#">گوشی موبایل شیائومی مدل Redmi Note 8 Pro M1906G7G دو سیم‌ کارت</a> <span class="price">۱,۴۳۳,۰۰۰ تومان</span></div>
                <div class="product-item swiper-slide">
                    <a href="#"><img src="assets/images/965174.jpg" alt=""></a> <a class="title" href="#">گوشی موبایل شیائومی مدل Redmi Note 8 Pro M1906G7G دو سیم‌ کارت</a> <span class="price">۱,۴۳۳,۰۰۰ تومان</span></div>
                <div class="product-item swiper-slide">
                    <a href="#"><img src="assets/images/965174.jpg" alt=""></a> <a class="title" href="#">گوشی موبایل شیائومی مدل Redmi Note 8 Pro M1906G7G دو سیم‌ کارت</a> <span class="price">۱,۴۳۳,۰۰۰ تومان</span></div>
                <div class="product-item swiper-slide">
                    <a href="#"><img src="assets/images/965174.jpg" alt=""></a> <a class="title" href="#">گوشی موبایل شیائومی مدل Redmi Note 8 Pro M1906G7G دو سیم‌ کارت</a> <span class="price">۱,۴۳۳,۰۰۰ تومان</span></div>
                <div class="product-item swiper-slide">
                    <a href="#"><img src="assets/images/965174.jpg" alt=""></a> <a class="title" href="#">گوشی موبایل شیائومی مدل Redmi Note 8 Pro M1906G7G دو سیم‌ کارت</a> <span class="price">۱,۴۳۳,۰۰۰ تومان</span></div>
                <div class="product-item swiper-slide">
                    <a href="#"><img src="assets/images/965174.jpg" alt=""></a> <a class="title" href="#">گوشی موبایل شیائومی مدل Redmi Note 8 Pro M1906G7G دو سیم‌ کارت</a> <span class="price">۱,۴۳۳,۰۰۰ تومان</span></div>
            </div>
            <div id="pslider-nbtn" class="slider-nbtn swiper-button-next"></div>
            <div id="pslider-pbtn" class="slider-pbtn swiper-button-prev"></div>
        </div>
    </section>
    <div class="jump-to-up"> <i class="fa fa-chevron-up"></i> <span> بازگشت به بالا </span></div>
    <footer>
        <section class="footer container">
            <div class="icon">
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/1.svg" alt=""> <span>7 روز ضمانت بازگشت</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/2.svg" alt=""> <span>پرداخت در محل</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/4.svg" alt=""> <span>تحویل اکسپرس</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/3.svg" alt=""> <span>پشتیبانی ۲۴ ساعته</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/5.svg" alt=""> <span>ضمانت اصل بودن کالا</span> </a>
                </div>
            </div>
            <div class="footer-content">
                <div class="shop-help">
                    <h3 class="head">راهنمای خرید از شاپ</h3>
                    <ul>
                        <li><a href="#">نحوه ثبت سفارش</a></li>
                        <li><a href="#">رویه ارسال سفارش</a></li>
                        <li><a href="#">شیوه های پرداخت</a></li>
                    </ul>
                </div>
                <div class="customer-service">
                    <h3 class="head">خدمات مشتریان</h3>
                    <ul>
                        <li><a href="#">پاسخ به پرسش های متداول</a></li>
                        <li><a href="#">رویه های بازگرداندن کالا</a></li>
                        <li><a href="#">حریم خصوصی</a></li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h3 class="head">از تخفیف ها و جدیدترین های شاپ با خبر باشید</h3>
                    <div class="content">
                        <form action="#">
                            <input type="text">
                            <button type="submit">ارسال</button>
                        </form>
                        <h3 class="head">ما را در شبکه های اجتماعی دنبال کنید</h3>
                        <div class="social"> <a href=""><i class="fa fa-instagram"></i></a> <a href=""><i class="fa fa-twitter-square"></i></a> <a href=""><i class="fa fa-facebook-square"></i></a> <a href=""><i class="fa fa-google-plus-square"></i></a></div>
                    </div>
                </div>
                <div class="cert">
                    <h3 class="head">مجوزهای فروشگاه</h3>
                    <div class="image"> <img src="assets/images/cert/enamad.png" alt=""> <img src="assets/images/cert/samandehi.png" alt=""></div>
                </div>
            </div>
            <div class="footer-contact">
                <div class="contact"> <span>هفت روز هفته, ۲۴ ساعت شبانه روز پاسخگوی شما هستیم,</span> <span>شماره تماس : ۰۴۴-۳۳۳۳</span> <span>آدرس ایمیل : info@site.com</span></div>
                <div class="app"> <img src="assets/images/bazar.png" alt=""> <img src="assets/images/sibapp.png" alt=""></div>
            </div>
            <div class="copyright">
                <p>استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت فلان (فروشگاه آنلاین دیجی‌کالا) می‌باشد.</p>
            </div>
        </section>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/vendor/swiper/js/swiper.min.js"></script>
    <script src="assets/vendor/slicknav/jquery.slicknav.min.js"></script>
    <script src="assets/vendor/jquery.countdown.min.js"></script>
    <script src="assets/vendor/persianumber.min.js"></script>
    <script src="assets/vendor/elevatezoom.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>