<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ثبت نام</title>
    <link rel="stylesheet" href="assets/vendor/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/mediaq.css">
</head>
<body>
    
    <section class="account-box">
        <div class="register-logo">
            <a href="index.html"><img src="assets/images/logo.svg" alt=""></a>
        </div>
        <div class="register login">
            <div class="headline">ورود به دیجی‌کالا</div>
            <div class="content">
                <form action="#">
                    <label for="mobtel">ایمیل یا شماره موبایل</label>
                    <input id="mobtel" type="text" placeholder="پست الکترونیک یا شماره موبایل خود را وارد نمایید">
                    <label for="pwd">کلمه عبور</label>
                    <input id="pwd" type="text" placeholder="کلمه عبور خود را وارد نمایید">
                    <div class="acc-agree">
                        <input id="chkbox" type="checkbox" checked>
                        <label for="chkbox"><span>مرا به خاطر داشته باش</span></label>
                    </div>
                    <button type="submit"><i class="fa fa-unlock"></i> ورود به دیجی کالا</button>
                </form>
            </div>
            <div class="foot login-foot">
                <span>کاربر جدید هستید؟</span>
                <a href="register.html">ثبت نام در دیجی کالا</a>
            </div>
        </div>
    </section>
    
    <footer>
        <section class="footer account-footer container">
            <ul>
                <li><a href="#">درباره دیجی کالا</a></li>
                <li><a href="#">فرصت های شغلی</a></li>
                <li><a href="#">تماس با ما</a></li>
                <li><a href="#">همکاری با سازمان ها</a></li>
            </ul>
            <div class="copyright"><p>استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت فلان (فروشگاه آنلاین دیجی‌کالا) می‌باشد.</p></div>
            
            <div class="copyright-en">
                <p>Copyright © 2006 - 2018 Digikala.com</p>
            </div>
        </section>
    </footer>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>