<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ثبت نام</title>
    <link rel="stylesheet" href="assets/vendor/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/mediaq.css">
</head>
<body>
    
    <section class="account-box">
        <div class="register-logo">
            <a href="index.html"><img src="assets/images/logo.svg" alt=""></a>
        </div>
        <div class="register">
            <div class="headline">ثبت‌نام در دیجی‌کالا</div>
            <div class="content">
                <span class="hint">اگر قبلا با ایمیل ثبت‌نام کرده‌اید، نیاز به ثبت‌نام مجدد با شماره همراه ندارید</span>
                <form action="#">
                    <label for="mobtel">پست الکترونیک یا شماره موبایل</label>
                    <input id="mobtel" type="text" placeholder="پست الکترونیک یا شماره موبایل خود را وارد نمایید">
                    <label for="pwd">کلمه عبور</label>
                    <input id="pwd" type="text" placeholder="کلمه عبور خود را وارد نمایید">
                    <div class="acc-agree">
                        <input id="chkbox" type="checkbox">
                        <label for="chkbox">
                            <a href="#">حریم خصوص</a>
                            <span>و</span>
                            <a href="#">شرایط و قوانین</a>
                            <span> استفاده از سرویس های سایت دیجی‌کالا را مطالعه نموده و با کلیه موارد آن موافقم.</span>
                        </label>
                    </div>
                    <button type="submit"><i class="fa fa-user-plus"></i> ثبت نام در دیجی کالا</button>
                </form>
            </div>
            <div class="foot">
                <span>قبلا در دیجی‌کالا ثبت‌نام کرده‌اید؟</span>
                <a href="login.html">وارد شوید</a>
            </div>
        </div>
    </section>
    
    <footer>
        <section class="footer account-footer container">
            <ul>
                <li><a href="#">درباره دیجی کالا</a></li>
                <li><a href="#">فرصت های شغلی</a></li>
                <li><a href="#">تماس با ما</a></li>
                <li><a href="#">همکاری با سازمان ها</a></li>
            </ul>
            <div class="copyright"><p>استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت فلان (فروشگاه آنلاین دیجی‌کالا) می‌باشد.</p></div>
            
            <div class="copyright-en">
                <p>Copyright © 2006 - 2018 Digikala.com</p>
            </div>
        </section>
    </footer>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>