<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>فروشگاه اینترنتی</title>
    <link rel="stylesheet" href="assets/vendor/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/mediaq.css">
</head>

<body>
    <header class="shipping">
        <div class="logo container">
            <a href="#"><img src="assets/images/logo.svg"></a>
        </div>
    </header>
    <main class="main-cart container">
        <ul class="c-checkout-steps">
            <li class="is-active">
                <div class="c-checkout-steps__item c-checkout-steps__item--summary" data-title="اطلاعات ارسال"></div>
            </li>
            <li>
                <div class="c-checkout-steps__item c-checkout-steps__item--delivery" data-title="پرداخت"></div>
            </li>
            <li>
                <div class="c-checkout-steps__item c-checkout-steps__item--payment" data-title="اتمام خرید و ارسال"></div>
            </li>
        </ul>
        <div class="o-page__content">
            <div id="shipping-data">
                <div class="o-headline o-headline--checkout"><span>انتخاب آدرس تحویل سفارش</span></div>
                <div id="address-section">
                    <div id="user-default-address-container" class="c-checkout-contact is-completed">
                        <div class="c-checkout-contact__content">
                            <ul class="c-checkout-contact__items">
                                <li class="c-checkout-contact__item c-checkout-contact__item--username"> <span>گیرنده : حسن شفیعی</span>
                                    <button class="c-checkout-contact__btn-edit">اصلاح این آدرس</button>
                                </li>
                                <li class="c-checkout-contact__item c-checkout-contact__item--location">
                                    <div class="c-checkout-contact__item c-checkout-contact__item--mobile"> <span>شماره تماس : ۰۹۱۲۶۲۶۲۶۲۶</span></div>
                                    <div class="c-checkout-contact__item--message"><span>کد پستی : ۹۱۹۹۶۰</span></div>
                                    <br> <span class="full-address">تهران - ورودی اول - ترمینال - پارک - پلاک</span></li>
                            </ul>
                            <div class="c-checkout-contact__badge"></div>
                        </div>
                        <button id="change-sh-address" class="c-checkout-contact__location">تغییر آدرس ارسال</button>
                    </div>
                </div>
                <form action="#">
                    <div>
                        <div class="o-headline o-headline--checkout"> <span>مرسوله ۱ از ۱</span></div>
                        <div class="c-checkout-pack">
                            <div class="c-checkout-pack__row">
                                <div class="c-product-box c-product-box--compact">
                                    <a href="#" class="c-product-box__img"><img src="assets/images/119350700s.jpg" alt=""></a>
                                    <div class="c-product-box__title">تبلت سامسونگ مدل GALAXY TAB S6 ظرفیت 128 گیگابایت</div>
                                </div>
                                <div class="c-product-box c-product-box--compact">
                                    <a href="#" class="c-product-box__img"><img src="assets/images/112309225s.jpg" alt=""></a>
                                    <div class="c-product-box__title"> دسته بازی بی سیم یوکام کد 8008 </div>
                                </div>
                            </div>
                            <div class="c-checkout-pack__row">
                                <div class="c-checkout-time-table">
                                    <div class="c-checkout-time-table__title-bar"> بازه تحویل سفارش: ۲ روز کاری</div>
                                    <ul class="c-checkout-time-table__subtitle-bar">
                                        <li>شیوه ارسال: پست پیشتاز (بین ۱ تا ۴ روز کاری)</li>
                                        <li>هزینه ارسال: رایگان</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="c-checkout-shipment__invoice-type">
                    <p class="c-checkout-shipment__invoice-type-info">شما می‌توانید فاکتور خرید را پس از تحویل سفارش از بخش جزییات سفارش در حساب کاربری خود دریافت کنید.</p>
                </div>
                <div class="c-checkout__to-shipping-sticky">
                    <a href="payment.html" class="c-checkout__to-shipping-link">ادامه فرایند خرید</a>
                    <div class="c-checkout__to-shipping-price-report">
                        <p>مبلغ قابل پرداخت</p>
                        <div class="c-checkout__to-shipping-price-report--price">۱۹۶,۷۰۰ <span>تومان</span></div>
                    </div>
                </div>
            </div>
            <div class="c-checkout__actions">
                <button class="btn-link-spoiler">« بازگشت به سبد خرید </button>
            </div>
        </div>
        <aside class="o-page__aside">
            <div class="c-checkout-aside">
                <div class="c-checkout-summary">
                    <ul class="c-checkout-summary__summary">
                        <li>
                            <span>قیمت کالاها (۱)</span>
                            <span> ۱۹۸,۲۰۰ تومان </span>
                        </li>
                        <!--incredible-->
                        <li class="c-checkout-summary__discount">
                            <span> تخفیف کالاها </span>
                            <span class="discount-price">۱,۵۰۰ تومان</span>
                        </li>
                        <!--incredible-->
                        <li class="has-devider">
                            <span>جمع</span>
                            <span> ۱۹۶,۷۰۰ تومان </span>
                        </li>
                        <li>
                            <span>هزینه ارسال</span>
                            <span></span>
                        </li>
                        <li>
                            <span style="font-size: 1.1em;padding-right: 10px;">ارسال عادی</span>
                            <span style="font-size: 1.1em;padding-right: 10px;">رایگان</span>
                        </li>
                        <li class="has-devider">
                            <span> مبلغ قابل پرداخت </span>
                            <span> ۱۹۶,۷۰۰ تومان </span>
                        </li>
                        <li class="pd-10">
                            <span> <i class="fa fa-money"></i> امتیاز دیجی کلاب</span>
                            <span> ۲۰ امتیاز </span>
                        </li>
                    </ul>
                </div>
                <div class="c-checkout-feature-aside">
                    <ul>
                        <li class="c-checkout-feature-aside__item c-checkout-feature-aside__item--guarantee">هفت روز ضمانت تعویض</li>
                        <li class="c-checkout-feature-aside__item c-checkout-feature-aside__item--cash">پرداخت در محل با کارت بانکی</li>
                        <li class="c-checkout-feature-aside__item c-checkout-feature-aside__item--express">تحویل اکسپرس</li>
                    </ul>
                </div>
            </div>
        </aside>
    </main>
    <div class="modal-checkout container" id="address-modal">
        <div class="container">
            <div class="c-form-checkout__headline">افزودن آدرس جدید</div>
            <form>
                <div class="group-input">
                    <div class="flname"> <span>نام و نام خانوادگی تحویل گیرنده</span>
                        <input type="text" placeholder="نام تحویل گیرنده را وارد کنید">
                    </div>
                    <div class="mob"> <span>شماره موبایل</span>
                        <input type="text" placeholder="09xxxxxxxx">
                    </div>
                </div>
                <div class="group-input">
                    <div class="flname"> <span>استان</span>
                        <select name="provinces">
                            <option value="1">آذربایجان غربی</option>
                            <option value="1">آذربایجان غربی</option>
                            <option value="1">آذربایجان غربی</option>
                            <option value="1">آذربایجان غربی</option>
                        </select>
                    </div>
                    <div class="mob"> <span>شهر</span>
                        <select name="city">
                            <option value="1">ماکو</option>
                            <option value="1">ماکو</option>
                            <option value="1">ماکو</option>
                            <option value="1">ماکو</option>
                            <option value="1">ماکو</option>
                        </select>
                    </div>
                </div>
                <div class="textarea-area"> <span>آدرس پستی</span>
                    <br>
                    <textarea name="" id="textarea"></textarea>
                </div>
                <div class="textarea-area"> <span>کد پستی</span>
                    <br>
                    <input type="text">
                </div>
                <div class="foot">
                    <button class="btn-checked">ثبت و ارسال به این آدرس</button> <a class="btn-link-spoiler" href="#">انصراف و بازگشت</a></div>
            </form>
        </div>
        <button class="close-modal"><i class="fa fa-plus"></i></button>
    </div>
    <div class="jump-to-up"> <i class="fa fa-chevron-up"></i> <span> بازگشت به بالا </span></div>
    <footer>
        <section class="footer container">
            <div class="icon">
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/1.svg" alt=""> <span>7 روز ضمانت بازگشت</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/2.svg" alt=""> <span>پرداخت در محل</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/4.svg" alt=""> <span>تحویل اکسپرس</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/3.svg" alt=""> <span>پشتیبانی ۲۴ ساعته</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/5.svg" alt=""> <span>ضمانت اصل بودن کالا</span> </a>
                </div>
            </div>
            <div class="footer-content">
                <div class="shop-help">
                    <h3 class="head">راهنمای خرید از شاپ</h3>
                    <ul>
                        <li><a href="#">نحوه ثبت سفارش</a></li>
                        <li><a href="#">رویه ارسال سفارش</a></li>
                        <li><a href="#">شیوه های پرداخت</a></li>
                    </ul>
                </div>
                <div class="customer-service">
                    <h3 class="head">خدمات مشتریان</h3>
                    <ul>
                        <li><a href="#">پاسخ به پرسش های متداول</a></li>
                        <li><a href="#">رویه های بازگرداندن کالا</a></li>
                        <li><a href="#">حریم خصوصی</a></li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h3 class="head">از تخفیف ها و جدیدترین های شاپ با خبر باشید</h3>
                    <div class="content">
                        <form action="#">
                            <input type="text">
                            <button type="submit">ارسال</button>
                        </form>
                        <h3 class="head">ما را در شبکه های اجتماعی دنبال کنید</h3>
                        <div class="social"> <a href=""><i class="fa fa-instagram"></i></a> <a href=""><i class="fa fa-twitter-square"></i></a> <a href=""><i class="fa fa-facebook-square"></i></a> <a href=""><i class="fa fa-google-plus-square"></i></a></div>
                    </div>
                </div>
                <div class="cert">
                    <h3 class="head">مجوزهای فروشگاه</h3>
                    <div class="image"> <img src="assets/images/cert/enamad.png" alt=""> <img src="assets/images/cert/samandehi.png" alt=""></div>
                </div>
            </div>
            <div class="footer-contact">
                <div class="contact"> <span>هفت روز هفته, ۲۴ ساعت شبانه روز پاسخگوی شما هستیم,</span> <span>شماره تماس : ۰۴۴-۳۳۳۳</span> <span>آدرس ایمیل : info@site.com</span></div>
                <div class="app"> <img src="assets/images/bazar.png" alt=""> <img src="assets/images/sibapp.png" alt=""></div>
            </div>
            <div class="copyright">
                <p>استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت فلان (فروشگاه آنلاین دیجی‌کالا) می‌باشد.</p>
            </div>
        </section>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script>
        $('.close-modal').click(function() {
            $('.main-cart').removeClass('main-cart-overlay');
            $('.modal-checkout').fadeOut(200);
        });
        $('#change-sh-address').click(function() {
            $('.main-cart').addClass('main-cart-overlay');
            $('.modal-checkout').fadeIn(200);
        });
    </script>
</body>

</html>