<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>فروشگاه اینترنتی</title>
    <link rel="stylesheet" href="assets/vendor/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="assets/vendor/slicknav/slicknav.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/mediaq.css">
</head>

<body>
    <header class="shipping">
        <div class="logo container">
            <a href="#"><img src="assets/images/logo.svg"></a>
        </div>
    </header>
    <style>
        .c-checkout-steps li.is-completed:before {
            width: 97%
        }
    </style>
    <ul class="c-checkout-steps">
        <li class="is-active is-completed">
            <div class="c-checkout-steps__item c-checkout-steps__item--summary" data-title="اطلاعات ارسال"></div>
        </li>
        <li class="is-active is-completed">
            <div class="c-checkout-steps__item c-checkout-steps__item--delivery" data-title="پرداخت"></div>
        </li>
        <li class="is-active is-completed">
            <div class="c-checkout-steps__item c-checkout-steps__item--payment" data-title="اتمام خرید و ارسال"></div>
        </li>
    </ul>
    <section class="c-checkout-alert container">
        <div class="c-checkout-alert__icon success"><i class="fa fa-check"></i></div>
        <div class="c-checkout-alert__title">
            <h4>سفارش <span class="c-checkout-alert__highlighted c-checkout-alert__highlighted--success">DKC-39637837</span> با موفقیت در سیستم ثبت شد.</h4></div>
        <div class="c-checkout-alert__content"> <span class="c-checkout-alert__content--success">سفارش شما نهایتا تا یک روز آماده ارسال خواهد شد.</span>
            <br>
        </div>
    </section>
    <section class="c-checkout-details container">
        <h4 class="c-checkout-details__title">کد سفارش: DKC-39637837</h4>
        <div class="c-checkout-details__row">
            <div class="c-checkout-details__col--text">
                <p>سفارش شما با موفقیت در سیستم ثبت شد و هم اکنون <span class="text-highlight text-highlight--ok">تکمیل شده</span> است. جزئیات این سفارش را می‌توانید با کلیک بر روی دکمه <a href="#" class="btn-link-spoiler">پیگیری سفارش</a> مشاهده نمایید.</p>
            </div> <a href="#" class="btn-order-traking">پیگیری سفارش</a></div>
        <div class="c-checkout-details__row">
            <div class="c-checkout-details__col--table">
                <div class="c-checkout-table">
                    <div class="c-checkout-table__row">
                        <div class="c-checkout-table__col"><span>نام تحویل گیرنده: حسن شفعی </span></div>
                        <div class="c-checkout-table__col"><span>شماره تماس : ۰۹۱۲۶۲۶۲۶۲۶</span></div>
                    </div>
                    <div class="c-checkout-table__row">
                        <div class="c-checkout-table__col"><span>تعداد مرسوله : ۱ </span></div>
                        <div class="c-checkout-table__col"><span>مبلغ کل: ۱۵۰,۰۰۰ تومان </span></div>
                    </div>
                    <div class="c-checkout-table__row">
                        <div class="c-checkout-table__col"><span>وضعیت پرداخت: پرداخت آنلاین <span class="green">(موفق)</span> </span>
                        </div>
                        <div class="c-checkout-table__col"><span>وضعیت سفارش: در انتظار پرداخت </span></div>
                    </div>
                    <div class="c-checkout-table__row">
                        <div class="c-checkout-table__col full-col"><span>آدرس : استان تهران ، شهر تهران، سایت نت پارادیس</span></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="payment-methods container">
        <div class="o-headline o-headline--checkout"><span>جزئیات پرداخت </span></div>
        <div class="c-checkout-details">
            <div class="c-checkout-orders-table">
                <div class="c-checkout-orders-table__row">
                    <div>
                        <p>رديف</p>
                    </div>
                    <div>
                        <p>درگاه</p>
                    </div>
                    <div>
                        <p>شماره پيگيري</p>
                    </div>
                    <div>
                        <p>تاريخ</p>
                    </div>
                    <div>
                        <p>مبلغ</p>
                    </div>
                    <div>
                        <p>وضعيت</p>
                    </div>
                </div>
                <div class="c-checkout-orders-table__row">
                    <div>
                        <p>۱</p>
                    </div>
                    <div>
                        <p>بانک سامان</p>
                    </div>
                    <div>
                        <p>۱۵۳۹۳۹۳۹</p>
                    </div>
                    <div>
                        <p>۵ اسفند ۱۳۹۸</p>
                    </div>
                    <div>
                        <p> ۱۵۰,۰۰۰ تومان</p>
                    </div>
                    <div>
                        <p>پرداخت موفق</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="jump-to-up"> <i class="fa fa-chevron-up"></i> <span> بازگشت به بالا </span></div>
    <footer>
        <section class="footer container">
            <div class="icon">
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/1.svg" alt=""> <span>7 روز ضمانت بازگشت</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/2.svg" alt=""> <span>پرداخت در محل</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/4.svg" alt=""> <span>تحویل اکسپرس</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/3.svg" alt=""> <span>پشتیبانی ۲۴ ساعته</span> </a>
                </div>
                <div class="icon-item">
                    <a href="#"> <img src="assets/images/icon/5.svg" alt=""> <span>ضمانت اصل بودن کالا</span> </a>
                </div>
            </div>
            <div class="footer-content">
                <div class="shop-help">
                    <h3 class="head">راهنمای خرید از شاپ</h3>
                    <ul>
                        <li><a href="#">نحوه ثبت سفارش</a></li>
                        <li><a href="#">رویه ارسال سفارش</a></li>
                        <li><a href="#">شیوه های پرداخت</a></li>
                    </ul>
                </div>
                <div class="customer-service">
                    <h3 class="head">خدمات مشتریان</h3>
                    <ul>
                        <li><a href="#">پاسخ به پرسش های متداول</a></li>
                        <li><a href="#">رویه های بازگرداندن کالا</a></li>
                        <li><a href="#">حریم خصوصی</a></li>
                    </ul>
                </div>
                <div class="newsletter">
                    <h3 class="head">از تخفیف ها و جدیدترین های شاپ با خبر باشید</h3>
                    <div class="content">
                        <form action="#">
                            <input type="text">
                            <button type="submit">ارسال</button>
                        </form>
                        <h3 class="head">ما را در شبکه های اجتماعی دنبال کنید</h3>
                        <div class="social"> <a href=""><i class="fa fa-instagram"></i></a> <a href=""><i class="fa fa-twitter-square"></i></a> <a href=""><i class="fa fa-facebook-square"></i></a> <a href=""><i class="fa fa-google-plus-square"></i></a></div>
                    </div>
                </div>
                <div class="cert">
                    <h3 class="head">مجوزهای فروشگاه</h3>
                    <div class="image"> <img src="assets/images/cert/enamad.png" alt=""> <img src="assets/images/cert/samandehi.png" alt=""></div>
                </div>
            </div>
            <div class="footer-contact">
                <div class="contact"> <span>هفت روز هفته, ۲۴ ساعت شبانه روز پاسخگوی شما هستیم,</span> <span>شماره تماس : ۰۴۴-۳۳۳۳</span> <span>آدرس ایمیل : info@site.com</span></div>
                <div class="app"> <img src="assets/images/bazar.png" alt=""> <img src="assets/images/sibapp.png" alt=""></div>
            </div>
            <div class="copyright">
                <p>استفاده از مطالب فروشگاه اینترنتی دیجی‌کالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت فلان (فروشگاه آنلاین دیجی‌کالا) می‌باشد.</p>
            </div>
        </section>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/vendor/swiper/js/swiper.min.js"></script>
    <script src="assets/vendor/slicknav/jquery.slicknav.min.js"></script>
    <script src="assets/vendor/jquery.countdown.min.js"></script>
    <script src="assets/vendor/persianumber.min.js"></script>
    <script src="assets/vendor/elevatezoom.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>